body{
    font-family: 'Lusitana';
    margin:0;
}
.navbar{
    position:sticky;
    background-color: none;
}
.blue-bg {
    background-color:#002236;
    color:white;
}
.carousel-image{
    border-radius: 10px;
}